.mainDiv {
    background-color: var(--background-color);  
    color: var(--main-text-color);
    padding: 0px 20px;
    border-radius: 10px;
    width: 850px;
    margin: 20px auto;
    border: 3px solid var(--primary-color);
}
