.button{
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    color: var(--main-text-color);
    cursor: pointer;
    /*padding: 5px 8px;*/
    width: 40px;
    height: 40px;
}

.button:hover{
    background-color: var(--primary-color-hover);
}